*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
body{
    overflow-x: hidden;
}


/* start header */

/* start nav  */

header{
    overflow: hidden;
    height: 800px;
}
header > nav{
    width: 100vw;
    height: 60px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
header > nav > h2{
    word-spacing: 5px;
}
header > nav > ul{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
header > nav > ul >li{
    font-size: 20px;
    font-weight: bold;
}
/* header > nav > ul >li > a:hover{
    color: rgb(23, 156, 23);
} */
header > nav > ul > li#menu > a{
    display: flex;
    position: relative;
}
header > nav > ul > li#menu > a:hover > ul#menu-item{
    visibility: visible;
}
header > nav > ul > li#menu > a > ul#menu-item{
    position: absolute;
    background-color: rgb(160, 160, 160);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 8px 12px;
    top: 27px; 
    left:-25px;
    visibility: hidden;
}

header > nav > ul > li#menu > a > ul#menu-item > li {
    position: relative;
    transition: all .4s;
}
header > nav > ul > li#menu > a > ul#menu-item > li:hover{
    border-bottom: 2px solid orangered;
    color: orangered;
}
header > nav > ul > li#menu > a > ul#menu-item > li  > ul{
    position: absolute;
    background-color: rgb(160, 160, 160);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
    top: -10px;
    padding: 18px 23px;
    left: 95px;
    visibility: hidden;
}
header > nav > ul > li#menu > a > ul#menu-item > li:hover  > ul{
    visibility: visible;
}
/* end nav  */


header > div.banner{
    width: 100%;
    height: 562px;
}
header > div.banner > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* position: relative; */
    /* filter: blur(1px); */
}
header > div.banner > div.back{
    background-color: rgba(255, 255, 255, 0.466);
    position: absolute;
    gap: 25px;
    top: 18%;
    min-height: 330px;
    left: 25%;
    width: 700px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
header > div.banner > div.back > h1{
    /* position: absolute; */
    /* top: 20%;
    left: 35%; */
    color: black;
    font-weight: bold;
    /* text-align: center; */
    font-size: 60px;
}
header > div.banner > div.back > p#txt1{
    /* position: absolute; */
    /* top: 30%; */
    font-size: 24px;
    font-weight: bold;
    /* left: 20%; */
    color: black;
    width: 600px;
    text-align: center;

}
header > div.banner > div.back > div.b > button{
    padding: 15px;
    border: none;
    margin-left: 15px;
}
header > div.banner > div.back > div.b > button[type='button']{
    background-color: rgb(255, 97, 97);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 18px;
    width: 150px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 1s;
}
header > div.banner > div.back > div.b > button:hover{
    background-color: rgb(255, 0, 0);
}
header > div.banner > div.back > div.b > button[type='submit']{
    color: rgb(255, 255, 255);
    width: 200px;
    background-color: rgba(0, 0, 0, 0.274);
    border: 3px solid rgba(0, 0, 0, 0.274);
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 1s;
}
header > div.banner > div.back > div.b > button[type='submit']:hover{
    background-color: rgb(75, 75, 75);
    border: 3px solid gray;
}
header > div.banner > div.back > p{
    font-size: 20px;
    font-weight: bold;
}
header > div.banner > div.back > p >a{
    border-bottom: 2px solid black;
}
header > div.banner > div.back > p >a:hover{
    color: orangered;
    border-bottom: 2px solid orangered;
}
header > div.banner > div.icon{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    left: 13%;
    top: 80%;
    position: absolute;
}
header > div.banner > div.icon > ul{
    display: flex;
    justify-content: center;
}
header > div.banner > div.icon > ul > li{
    /* font-size: 75px; */
    margin-left: 45px;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* gap: 10px; */
    flex-direction: column;
    padding: 55px;
    background-color: rgb(255, 97, 97);
}
header > div.banner > div.icon > ul > li > i{
    font-size: 75px;
    color: white;
}
header > div.banner > div.icon > ul > li > p{
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

/* end header */

/* start main */


main > section.cover {
    width: 100vw;
    min-height:500px ;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
}
main > section.cover >  h2{
    font-size: 45px;
}
main > section.cover > p{
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}
section.cover > div.cover-item{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px;
    /* align-items: center; */
    justify-content: space-evenly ;
    gap: 40px;
}
.cover-card{
    height: 270px;
    margin-left: 2px;
    width: 320px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    
}

.cover-card .card{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    /* border-radius: 10px; */
    background-color: #fff;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .1);
    transition: transform 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.cover-card:hover > .front-face{
    transform: rotateY(-180deg);
}
.cover-card  .front-face > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
}
.cover-card .back-face{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   transform: rotateY(180deg);
}
.cover-card:hover .back-face{
    transform: rotateY(0deg);
 }
.cover-card .back-face img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.cover-card .back-face .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
 
section.cover > p#t1 > a{
    color: darkgreen;
    border-bottom: 2px solid darkgreen;
}
section.cover > p#t1 > a:hover{
    color: rgb(0, 255, 0);
    border-bottom: 2px solid rgb(0, 255, 0);
}
section.cover >a{
    margin-top: 20px;
    background-color: rgb(255, 97, 97);
    padding: 20px;
    border-radius: 25px;
    font-size: 19px;
    font-weight: bold;
    color: white;
    width: 150px;
    text-align: center;
    transition: all 1.3s;
}
section.cover >a:hover{
    width: 210px;
    background-color: rgb(255, 0, 0);
}
main > section#info {
    min-height: 1500px;
    margin-top: 70px;
    background-color: rgb(255, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
main > section#info > h1{
    margin-top: 70px;
    font-size: 50px;
    color: white;
}
main > section#info > p{
    width: 680px;
    margin-top: 20px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: white;
}
main > section#info > div.item{
    padding: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
main > section#info > div.item > div.card{
    width: 320px;
    height: 400px;
    background-color: aliceblue;
}
main > section#info > div.item > div.card >div.image{
    width: 100%;
    height: 100%;
    position: relative;
}
main > section#info > div.item > div.card >div.image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main > section#info > div.item > div.card >div.image > div.content-info{
    position: absolute;
    top: 62.6%;
    background-color: rgba(0, 0, 0, 0.616);
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}
main > section#info > div.item > div.card >div.image > div.content-info > h3{
    color: white;
    font-size: 30px;

}
main > section#info > div.item > div.card >div.image > div.content-info > p{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
section#info > p#t2 > a{
    color: rgb(100, 0, 0);
    border-bottom: 2px solid rgb(100, 0, 0);
}
section#info > p#t2> a:hover{
    color: rgb(255, 0, 0);
    border-bottom: 2px solid rgb(255, 0, 0);
}
section#s{
    min-height: 700px;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-top: 80px;
}
section#s > h1{
    font-size: 55px;
    text-align: center;
}
section#s > div.items{
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
}
section#s > div.items > div.cards{
    width: 350px;
    position: relative;
    height: 550px;
    /* background-color: gainsboro; */
}
section#s > div.items > div.cards > div.imgs{
    width: 100%;
    height: 70%;
    position: relative;
}
section#s > div.items > div.cards > div.imgs > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section#s > div.items > div.cards > div.imgs > p{
    background-color: rgb(255, 78, 78);
    width: 200px;
    height: 120px;
    text-align: center;
    padding: 30px;
    line-height: 25px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 80%;
    left: 22%;
}
section#s > div.items > div.cards > div.infos {
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}
section#s > div.items > div.cards > div.infos>p{
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
}
section#s > div.items > div.cards > div.infos> a{
    color: darkblue;
    font-weight: bold;
    word-spacing: 5px;
    border-bottom: 1px solid darkblue;
}
section#s > div.items > div.cards > div.infos> a:hover{
    color: cornflowerblue;
    border-bottom: 1px solid cornflowerblue;

}
section#contact{
    margin-top: 70px;
    display: flex;
    min-height: 800px;
    position: relative;
    flex-direction: row;
}
section#contact > img{
    object-fit: cover;
    width: 100%;
    height: 650px;
    filter: grayscale(25%);
}
section#contact > div#all{
    position: absolute;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    flex-direction: row;
}
section#contact > div#all> div.content-left{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 70px; */
    /* position: absolute; */
    width: 50%;
    padding-bottom: 75px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.795);
    border: 1px solid rgba(128, 128, 128, 0.699);

}
section#contact > div#all > div.content-right{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.795);
    width: 50%;
    border: 1px solid rgba(128, 128, 128, 0.699);
}
section#contact > div#all > div.content-right > div.inp{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
section#contact > div#all > div.content-right > div.inp > input{
    padding: 7px 13px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
section#contact > div#all > div.content-right > div.inp > div.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
section#contact > div#all > div.content-right > div.inp > div.btn > button{
    padding: 6px 8px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 1s;
}
section#contact > div#all > div.content-right > div.inp > div.btn > button:hover{
    background-color: rgb(255, 166, 0);
    padding: 8px 15px;
}
section#contact > div#all > div.content-right > h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    border-bottom: 2px solid white;
    width: 80%;
    text-align: center;
}
section#contact > div#all > div.content-left > h2{
    color: white;
    margin-top:150px ;
    font-size: 45px;
}
section#contact > div#all > div.content-left > p{
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    width: 80%;
}
section#contact > div#all > div.content-left > a{
    color: white;
    border: 2px solid white;
    display: flex;
    width: 140px;
    /* margin-left: 30%; */
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    border-radius: 25px;
    transition: all 1s;
}
section#contact > div#all > div.content-left > a:hover{
    color: gray;
    background-color: white;
}


/* end main */
div#all{
    width: 100%;
    padding: 50px;
}
div#all ul{
    display: inline-block;
    width: 16%;
    text-align: center;
    /* margin-top: 0 auto; */
    /* border-right:2px solid black; */
}
div#all ul li{
    margin-top: 8px;
}
div#all ul li a{
    color: rgb(97, 97, 97);
}
div#all ul li a i{
    font-size: 25px;
}

/* start footer */

footer{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgb(37, 34, 34);
}
footer div{
    text-align: center;
}
footer :last-child{
    border-right: none;
}
footer ul{
    display: inline-block;
    padding-left: 15px;
    /* padding-top: 10px; */
    border-right:.5px solid rgb(145, 142, 142);
}
footer ul li{
    /* display: inline-block; */
    line-height: 50px;
    margin-right: 10px;
    /* margin-top: 10px; */
}
footer ul li a{
    color: rgb(145, 142, 142);

}
footer p{
    color: rgb(145, 142, 142);
    position: absolute;
    top: 76%;
    left: 9%;
    font-size: 14px;
}